<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ActiveDBName" value="Cypress" />
    <add key="Local" value="*Public/Cypress" />
    <add key="Cypress" value="*Public/Cypress" />
    <!-- Disable MS's BrowserLink feature. -->
    <!-- https://docs.microsoft.com/en-us/aspnet/visual-studio/overview/2013/using-browser-link -->
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
  
    <authentication mode="Forms">
      <!-- name = name of cookie. -->
      <forms name="Login form" loginUrl="views/Login.aspx" timeout="30"/>
      <!-- 
                 The timeout value is specified in minutes. 
                 This value also determines how long the authentication cookie, if used,
                 persists.
            -->
      <!-- For more information:
            http://msdn.microsoft.com/library/default.asp?url=/library/en-us/cpguide/html/cpconaspnetarchitecture.asp  
            -->
      </authentication>
      <!-- deny all unauthorized users -->
      <authorization>
        <deny users="?"/>
      </authorization>
  </system.web>
</configuration>